@import "../styles/breakPoints.scss";
@import "./variables.scss";


.title-list {
  margin: 40px 100px;
  color: $blue;

  @include sm {
    margin: 40px 50px;
  }
}

.list {
  padding: 0 100px 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;

  @include xl {
    padding: 0 20px 120px;
  }
}

.emptydiv{
font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.144);
  margin-left: 40vw;
  margin-bottom: 20vh;
font-weight: 700;
text-transform: capitalize;

}